<section class="grid grid-cols-12 gap-x-6 overflow-hidden"> 
    <h1 class="col-span-12 text-[9vw] font-black uppercase leading-[0.85] tracking-tightest mb-12">
        <div class="overflow-hidden">
            <span class="reveal-text inline-block">AI-Driven Content</span>
        </div>
        <div class="overflow-hidden">
            <span class="reveal-text inline-block">& Media Strategy</span>
        </div>
    </h1>

    <div class="col-span-12 md:col-span-4">
        <div class="flex flex-col gap-y-1 text-lg font-bold uppercase leading-tight tracking-tight">
            
            <div class="overflow-hidden">
                <span class="list-item inline-block">Generative <span class="text-brand-red">AI</span></span>
            </div>
            
            <div class="overflow-hidden">
                <span class="list-item inline-block">3D Modelling</span>
            </div>
            
            <div class="overflow-hidden">
                <span class="list-item inline-block">Video Editing</span>
            </div>
            
            <div class="overflow-hidden">
                <span class="list-item inline-block">Graphic Design</span>
            </div>
            
            <div class="overflow-hidden">
                <span class="list-item inline-block">Software Development</span>
            </div>
            
        </div>
    </div>
</section>
