<section class="col-span-12">
    <h1 class="text-[9vw] font-black uppercase leading-extra-tight tracking-tightest mb-12" id="hero-text">
        AI-Driven Content </br> & Media Strategy
    </h1>

    <div class="grid grid-cols-12">
        <p class="col-span-12 md:col-span-4 text-lg font-bold uppercase leading-tight tracking-tight">
            Generative <span class="text-brand-red">AI</span><br/> 
            3D Modelling <br/>
            Video Editing <br/>
            Graphic Design <br/>
            Software Development <br/>
        </p>
    </div>
</section>