<section class="grid grid-cols-12 gap-x-6"> 
    <h1 class="col-span-12 text-[9vw] font-black uppercase leading-[0.85] tracking-tightest mb-12">
        AI-Driven Content <br/> & Media Strategy
    </h1>

    <div class="col-span-12 md:col-span-4">
        <p class="text-lg font-bold uppercase leading-tight tracking-tight">
            Generative <span class="text-brand-red">AI</span><br/> 
            3D Modelling <br/>
            Video Editing <br/>
            Graphic Design <br/>
            Software Development <br/>
        </p>
    </div>
</section>